In [1]:
list=[1,2,3,'aasas']
list

[1, 2, 3, 'aasas']

In [2]:
print(list)

[1, 2, 3, 'aasas']

In [3]:
list[2]="sai"
list

[1, 2, 'sai', 'aasas']

In [4]:
list[2:4]=["saiprasad"]
list

[1, 2, 'saiprasad']

In [5]:
list.append([1,2,3])
list

[1, 2, 'saiprasad', [1, 2, 3]]

In [6]:
list.extend([1,3,2])
list

[1, 2, 'saiprasad', [1, 2, 3], 1, 3, 2]

In [7]:
list.insert(2,"sai")
list

[1, 2, 'sai', 'saiprasad', [1, 2, 3], 1, 3, 2]

In [8]:
list.pop()
list

[1, 2, 'sai', 'saiprasad', [1, 2, 3], 1, 3]

In [9]:
list=list+[3,2,4]
list

[1, 2, 'sai', 'saiprasad', [1, 2, 3], 1, 3, 3, 2, 4]

In [10]:
list=list*2
list

[1,
 2,
 'sai',
 'saiprasad',
 [1, 2, 3],
 1,
 3,
 3,
 2,
 4,
 1,
 2,
 'sai',
 'saiprasad',
 [1, 2, 3],
 1,
 3,
 3,
 2,
 4]

In [11]:
list.remove("sai")
list

[1,
 2,
 'saiprasad',
 [1, 2, 3],
 1,
 3,
 3,
 2,
 4,
 1,
 2,
 'sai',
 'saiprasad',
 [1, 2, 3],
 1,
 3,
 3,
 2,
 4]

In [12]:
list.remove("sai")
list

[1,
 2,
 'saiprasad',
 [1, 2, 3],
 1,
 3,
 3,
 2,
 4,
 1,
 2,
 'saiprasad',
 [1, 2, 3],
 1,
 3,
 3,
 2,
 4]

In [13]:
list.remove(1)
list

[2,
 'saiprasad',
 [1, 2, 3],
 1,
 3,
 3,
 2,
 4,
 1,
 2,
 'saiprasad',
 [1, 2, 3],
 1,
 3,
 3,
 2,
 4]

In [4]:
range(10)

range(0, 10)

In [96]:

for i in range(10):
   if i%2 == 0:
    print("Even Numbe\t",i)
   else:
    print("Odd Number",i)

Even Numbe	 0
Odd Number 1
Even Numbe	 2
Odd Number 3
Even Numbe	 4
Odd Number 5
Even Numbe	 6
Odd Number 7
Even Numbe	 8
Odd Number 9

In [42]:
x=[(a-5)**2 for a in range(10)]
print(x)
x.reverse()
print(x)
x.sort(reverse=True)
print(x)

[16, 9, 4, 1, 0, 1, 4, 9, 16]
[16, 9, 4, 1, 0, 1, 4, 9, 16]
[16, 16, 9, 9, 4, 4, 1, 1, 0]

In [173]:
k=0
for i in range(1,11):
 for j in range (1,11):
    k=i*j
    print(k,end="\t")

1	2	3	4	5	6	7	8	9	10	2	4	6	8	10	12	14	16	18	20	3	6	9	12	15	18	21	24	27	30	4	8	12	16	20	24	28	32	36	40	5	10	15	20	25	30	35	40	45	50	6	12	18	24	30	36	42	48	54	60	7	14	21	28	35	42	49	56	63	70	8	16	24	32	40	48	56	64	72	80	9	18	27	36	45	54	63	72	81	90	10	20	30	40	50	60	70	80	90	100

In [64]:
num = int(input("Enter the number: "))

print("Multiplication Table of", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number: 2
Multiplication Table of 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [187]:
x=50
def func(x):
    print('x is',x)
    x=2
    print('value changed to',x)
func(x)
print('x1 is',x)

x is 50
value changed to 2
x1 is 50

In [191]:
z= lambda x : x*x*x
y=z(3)
y

27

In [ ]:
orders = {
	'cappuccino': 54,
	'latte': 56,
	'espresso': 72,
	'americano': 48,
	'cortado': 41
}

sort_orders = sorted(orders.items(), key=lambda x: x[1], reverse=True)

for i in sort_orders:
	print(i[0], i[1])